.modal{
    display: none;
    background: rgba(0, 0, 0, .75);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.modal-open{
    display: grid;
}

.modal__dialog{
    background: rgb(195, 196, 207);
    padding: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;

    .section-form{
        display: flex;
        gap: 10px;
    }

    form{
        display: flex;
        flex-direction: column;

        label{
            font-size: 17px;
        }
        input{
            margin: 10px 0 5px;
        }
        #product{
            padding: 4px;
        }
        #price{
            width: 70px;
            text-align: center;
        }
        #description{
            margin-top: 10px;
            padding: 4px;
        }
        .description{
            margin-top: 15px;
        }
    }
    .descriptionCard{
        width:250px;
        height:120px;
        resize: none;
    }
    button{
        width: 120px;
        padding: 4px;
        background: rgb(58, 70, 141);
        border-radius: 6px;
        color: #DDD;

        &:hover{
            background: rgb(182, 187, 255)
        }
        
    }

}